@import url('https://fonts.googleapis.com/css2?family=Devonshire&family=Gravitas+One&family=Henny+Penny&family=Irish+Grover&family=Life+Savers:wght@400;700;800&family=Luckiest+Guy&family=Moo+Lah+Lah&family=Zalando+Sans+SemiExpanded:ital,wght@0,200..900;1,200..900&display=swap');

.app_container {
  width:100%;
  height:100vh;
  background-image: url('../assets/background.avif');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
}
.center_column {
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content:center;
}

.page_container {
  width:100%;
  height:max-content;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content: center;
  position:relative;
}

.presave_link {
  margin-top: 1rem;
  font-size: 3rem;
  font-family: "Irish Grover", system-ui;
  font-size: 3rem;
  color: #EBD194;
  -webkit-text-stroke: 2px #FF5C5A;
  text-decoration: underline wavy 4px #2C2D42;
  text-align: center;
  transition: 0.3s ease;
}

.presave_link:hover {
  font-size: 3.1rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  .presave_link {
    font-size: 32px;
  }
}
