@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');

.header_container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:2rem;
}

.header_container > a {
    border: none;
    margin-bottom: 1rem;
    font-family: "Irish Grover", system-ui;
    font-size: 1.75rem;
    text-align: center;
    text-decoration: none;
    transition: 0.1s;
}

.header_container a.inactive {
    color: #EBD194;
    -webkit-text-stroke: 1px #FF5C5A;
}

.header_container a.active {
    color: #EBD194;
    -webkit-text-stroke: 1px #FF5C5A;
    text-shadow: 1px 1px 1px #00495c;
    text-decoration: underline wavy;
}

.header_container>a.inactive:hover {
    color: #1C1B2D;
    cursor: pointer;
}

.header_container>a.active:hover {
    cursor: pointer;
}


@media (max-width: 1200px) {

}


@media (max-width: 768px) {
.header_container > a {
    font-size: 20px;
}

.header_container>a.inactive:hover {
    color: #EBD194;
}
    
}