.info {
  display:flex;
  flex-direction:column;
  justify-content: space-between;
  font-family: "Zalando Sans SemiExpanded", sans-serif;
}

.info_date {
  color:#EBD194;
  font-size:1rem;
}

.info_location {
  color:#EBD194;
}

.info_titles {
  display:flex;
  flex-direction:column;
  gap:1rem;
}

.poster_container {
  width:40%;
}

.show_container {

  background-image: url('../assets/denim-background.avif');
  background-repeat:no-repeat;
  background-position: center;
  background-size:cover;

  display:flex;
  flex-direction:row;
  justify-content: space-between;
  gap:2rem;
  padding:2rem;
}

.show_title {
  font-family: "Gravitas One", serif;
  font-size:1.7rem;
  color: #EBD194;
    -webkit-text-stroke: 1px #FF5C5A;
}

.ticket_link {
  color:#EBD194;
  font-weight: 500;
}

.ticket_link:active {
  color:#EBD194;
  text-shadow: 1px 1px 1px #ffffff; 
  text-decoration:underline;
}

.ticket_link:hover {
    color:#ffffff;
    cursor: pointer;
}

@media (max-width: 768px) {
  .info_date {
    font-size: 12px;
  }

  .info_location {
    font-size: 12px;
  }

  .poster_container {
    width:80%;
  }

  .show_container {
  flex-direction:column;
  justify-content: center;
  align-items: center;
  gap:2rem;
  padding:2rem;
}

  .show_title {
    font-size: 24px;
  }

  .ticket_link {
    font-size: 12px;
  }

}