.info {
  display:flex;
  flex-direction:column;
  justify-content: space-between;
  font-family: "Zalando Sans SemiExpanded", sans-serif;
}

.info_date {
  color:#2C2D42;
  font-size:1vw;
}

.info_location {
  font-size:0.75vw;
}

.info_titles {
  display:flex;
  flex-direction:column;
  gap:1rem;
}

.poster_container {
  width:40%;
}

.show_container {

  background-color:rgba(255, 92, 90, 0.50);
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  gap:2rem;
  padding:2rem;
}

.show_title {
  font-family: "Gravitas One", serif;
  font-size:1.5vw;
}

.ticket_link {
  color:#2C2D42;
  font-weight: 500;
}

.ticket_link:active {
  color:#2C2D42;
  text-shadow: 1px 1px 1px #00495c; 
  text-decoration:underline;
}

.ticket_link:hover {
    color:#393c80;
    cursor: pointer;
}